*{ 
    font-family: Helvetica; 
  }


/* Button colours */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
[class*="primary"] {
    color: #000000;
    background-color: hsl(31, 89%, 90%);
    accent-color: #FCE5CD;
    border-color: #FCE5CD;
    margin: 0.2rem;
}
/* Button hover state */
[class*="primary"]:hover {
    color: #000000;
    background-color: hsl(31, 70%, 90%); /* Change this to the desired hover color */
    border-color: #FCE5CD;
}
/* Button active state (when clicked) */
[class*="primary"]:active {
    background-color: hsl(31, 100%, 90%)!important; /* Set this to the color you want during the click */
    border-color: hsl(31, 100%, 90%)!important; /* Adjust as needed */
}

[class*="secondary"], input[type='radio'] {
    color: #000000;
    background-color: hsl(21, 91%, 74%);
    accent-color: #F9AA80;
    border-color: #F9AA80;
    margin: 0.2rem;
}

[class*="secondary"]:hover {
    color: #000000;
    background-color: hsl(21, 70%, 74%); /* Change this to the desired hover color */
    border-color: #F9AA80;
}
/* Button active state (when clicked) */
[class*="secondary"]:active {
    background-color: hsl(21, 100%, 74%);; /* Set this to the color you want during the click */
    border-color: hsl(21, 100%, 74%);; /* Adjust as needed */
    outline: none;
}
/* Styles for the radio button when it is selected */
input[type='radio']:checked {
    color: #F9AA80; 
    background-color: #F9AA80; 
    accent-color: #ffffff;
    border: 2px solid #F9AA80; /
}
/* Remove blue outline and customize focus style */
input[type='radio']:focus {
    outline: none; /* Removes default blue outline */
    box-shadow: 0 0 0 3px rgba(249, 170, 128, 0.5); /* Custom halo color */
}

/* Style for hover effect */
input[type='radio']:hover {
    background-color: #F9AA80;
    border-color: #F9AA80;
}
/* Style for hover effect */
/* input[type='radio']:active {
    background-color: #F9AA80;
    border-color: #F9AA80;
} */
/* Upload data formatting
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#upload-data a {
    color: #1C7E75; 
    text-decoration: underline;
    cursor: pointer;
}

#upload-data a:hover{
    color: #1C7E75;
    text-decoration: none;
}
#upload-data {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

/* placeholder text colours */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ababab; 
    opacity: 1; /* Firefox */
  }